body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin:50px auto 0 auto;
    font-size: 5.625em;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
div {
    
    margin: 0;
}
a {
    color:#11999E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
}
.bottom-container{
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 20%;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left:25%;
}
.skill-row{
    margin: 0 auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.php-image{
    width: 30%;
    float: left;
    margin-right: 30px;
}
.mysql-image{
    width: 40%;
    height: 60%;
    float: right;
    margin-left: 30px;;
}
